<!doctype html>
<html lang="{{ metadata.language }}">
{% include "partials/seo.njk" %}
</head>
<body>
<a href="#start" class="visuall">Skip to main content</a>
{% include "partials/nav.njk" %}
{{ content | safe }}
{% include "partials/footer.njk" %}
</body>
</html>
