---
layout: base.njk
---
 <section class="blog-hero" style="
            background: linear-gradient(rgba(40,54,24,0.7), rgba(40,54,24,0.7)), url('{{image or metadata.image}}') center/cover no-repeat;
            height: 350px;
            display: flex;
            align-items: flex-end;
            color: var(--cream);
            position: relative;
">
        <div class="container blog-hero-content">
            <span class="blog-meta"><i class="fa-regular fa-calendar"></i> <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></span>
            <h1 class="display-5 fw-bold mb-5"><a href="{{page.url}}" class="text-white">{{title}}</a></h1>
        </div>
    </section>

    <div class="container mt-5">
        <div class="blog-content shadow">

	{% if tags %}<p><i class="fas fa-tags me-1"></i>{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
	{%- endfor %}</p>{% endif %}


{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<div class="row">
<div class="col-md-6">	{%- if previousPost %}← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}</div>
<div class="col-md-6 text-end">	{%- if nextPost %}Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}</div>
</div>
{%- endif %}
{%- endif %}
</div>
</div>
{% if show_product %}
        <section class="related-articles my-5 container">
            <h3 class="section-title">Our Products</h3>
            <div class="row">{% for post in collections.products | reverse | limit(3) %}
                <div class="col-md-4">
                    <div class="card mb-3">
                        {% if post.data.image %}<a href="{{post.url}}"><img src="{{post.data.image}}" class="card-img-top" alt="{{post.data.title}}"></a>{% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{post.url}}">{{post.data.title}}</a></h5>
                            <p class="card-text" style="font-size:0.95rem;">{{post.data.description}}</p>
                            <a href="{{post.url}}" class="btn btn-card btn-sm text-white">{{metadata.widget.button.blog}}</a>
                        </div>
                    </div>
                </div>{% endfor %}
            </div>
        </section>
{% endif %}
{% if show_article %}
        <section class="related-articles my-5 container">
            <h3 class="section-title">Lastest Articles</h3>
            <div class="row">{% for post in collections.posts | reverse | limit(3) %}
                <div class="col-md-4">
                    <div class="card mb-3">
                        {% if post.data.image %}<a href="{{post.url}}"><img src="{{post.data.image}}" class="card-img-top" alt="{{post.data.title}}"></a>{% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{post.url}}">{{post.data.title}}</a></h5>
                            <p class="card-text" style="font-size:0.95rem;">{{post.data.description}}</p>
                            <a href="{{post.url}}" class="btn btn-card btn-sm text-white">{{metadata.widget.button.blog}}</a>
                        </div>
                    </div>
                </div>{% endfor %}
            </div>
        </section>
{% endif %}
    </div>
