---
layout: base.njk
---
 <section class="blog-hero" style="
background: linear-gradient(rgba(40,54,24,0.7), rgba(40,54,24,0.7)), url('{{image or metadata.image}}') center/cover no-repeat;
height: 350px;
display: flex;
align-items: flex-end;
color: var(--cream);
position: relative;
">
        <div class="container blog-hero-content">
{% if show_date %}<span class="blog-meta"><i class="fa-regular fa-calendar"></i> <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></span>{% endif %}
            <h1 class="display-5 fw-bold mb-5"><a href="{{page.url}}" class="text-white">{{title}}</a></h1>
        </div>
    </section>

    <div class="container mt-5">
        <div class="blog-content shadow">
{% if description %}<h2>{{description}}</h2>{% endif %}
	{%- for tag in tags | filterTagList %}{% if tags %}<p><i class="fas fa-tags me-1"></i>
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
	</p>{% endif %}{%- endfor %}


{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<div class="row">
<div class="col-md-6">	{%- if previousPost %}← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}</div>
<div class="col-md-6 text-end">	{%- if nextPost %}Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}</div>
</div>
{%- endif %}
{%- endif %}
{%- if collections.products %}
{%- set previousPost = collections.products | getPreviousCollectionItem %}
{%- set nextPost = collections.products | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<div class="row">
<div class="col-md-6">	{%- if previousPost %}← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}</div>
<div class="col-md-6 text-end">	{%- if nextPost %}Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}</div>
</div>
{%- endif %}
{%- endif %}
</div>
</div>
</div>
    </div>

{% include "partials/widget.njk" %}
