---
layout: base.njk
---
{% include "partials/hero_home.njk" %}
{% include "partials/about_home.njk" %}
{% include "partials/product_home.njk" %}
{% include "partials/blog_home.njk" %}
{% include "partials/gallery_home.njk" %}
{% include "partials/contact_home.njk" %}
