    <section class="container py-5" id="blog">
        <h2 class="section-title">{{blog.title}}</h2>
        <div class="row">{% for post in collections.posts | reverse | limit(6) %}
            <div class="col-md-4">
                <div class="blog-card">
                    {% if post.data.image %}<img src="{{post.data.image}}" alt="{{post.data.title}}" class="blog-img">{% endif %}
                    <div class="blog-body">
                        <small class="blog-date"><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("dd LLLL yyyy") }}</time></small>
                        <h5 class="blog-title mt-2">{{post.data.title}}</h5>
                        <p>{{post.data.description}}</p>
                        <a href="{{post.url}}" class="btn btn-card btn-sm text-white">{{metadata.widget.button.blog}}</a>
                    </div>
                </div>
            </div>{% endfor %}
        <div class="text-center mt-4">
            <a href="{{blog.button.url}}" class="btn btn-order">{{blog.button.text}}</a>
        </div>
    </section>
