<footer class="py-4 green">
<div class="container mt-5 text-center">
<img src="{{metadata.footer.logo}}" alt="{{metadata.title}}" width="40" height="40" class="mb-2 footer-logo">
<p class="mb-2">&copy; <span id="tahun"></span> {{metadata.footer.intro.text}} {{metadata.footer.intro.text1}} <a href="{{metadata.footer.intro.text2_url}}" class="text-white">{{metadata.footer.intro.text2}}</a>.</p>
<div>
{% for i in metadata.footer.social %}<a href="{{i.url}}" class="text-light mx-2" title="{{i.title}}"><i class="{{i.icon}}"></i></a>{% endfor %}
</div>
</div>
</footer>
<script src="/js/bs.js"></script>
<script type="text/javascript">document.getElementById("tahun").textContent = new Date().getFullYear();</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
</body>
</html>
