
    <section class="py-5" style="background-color: #f8f9fa;" id="gallery">
        <div class="container">
            <h2 class="section-title">Our Gallery</h2>
            <div class="row g-3">{% for i in collections.galleries | reverse | limit(6) %}
                <div class="col-md-4">
                    <div class="gallery-item">
                        <a href="{{i.url}}"><img src="{{i.data.image}}" alt="{{i.title}}" class="gallery-img"></a>
                    </div>
                </div>{% endfor %}
            </div>
            <div class="text-center mt-4">
                <a href="{{gallery.button.url}}" class="btn btn-order">{{gallery.button.text}}</a>
            </div>
        </div>
    </section>
