<section class="py-5" style="background-color: #f8f9fa;" id="gallery">
  <div class="container">
    <h2 class="section-title mb-5">{{gallery.title}}</h2>
    <div class="row g-3">
<div class="col-md-4 col-6 p-0">
<a href="{{gallery.button.url}}"><img alt="{{gallery.title}}" class="img-gallery" src="{{gallery.image1}}"/></a>
</div>
<div class="col-md-4 col-6 p-0">
<a href="{{gallery.button.url}}"><img alt="{{gallery.title}}" class="img-gallery" src="{{gallery.image2}}"/></a>
</div>
<div class="col-md-4 col-12 p-0">
<a href="{{gallery.button.url}}"><img alt="{{gallery.intro}}" class="img-gallery-cover" src="{{gallery.image3}}"/></a>
</div>
<div class="col-md-12 p-3 p-md-5 text-center">
<h2 class="col-md-6 col-8 mx-auto p-3 p-md-5"><strong>{{gallery.intro}}</strong></h2>
</div>
    </div>
  </div>
</section>

