    <section class="container-fluid bg-light">
<div class="container py-5" id="products">
        <h2 class="section-title">{{products.group.title}}</h2>
        <div class="row">{% for p in collections.groupproducts |reverse  | limit(3) %}
            <div class="col-md-4">
                <div class="card shadow-sm">
                    {% if p.data.image %}<a href="{{p.url}}"><img src="{{p.data.image}}" class="card-img-top" alt="{{p.data.title}}"></a>{% endif %}
                    <div class="card-body">
                        <h3 class="card-title">{{p.data.title}}</h3>
                        <p class="card-text">{{p.data.description}}</p>
                        <a href="{{p.url}}" class="btn btn-card text-white">{{metadata.widget.button.product}}</a>
                    </div>
                </div>
            </div>{% endfor %}
        <div class="text-center mt-4">
            <a href="{{products.group.button.url}}" class="btn btn-order">{{products.group.button.text}}</a>
        </div>
        </div>
</div>
    </section>

<section class="container-fluid bg-light">
    <div class="container py-5">
        <h2 class="section-title">{{products.individual.title}}</h2>
        <div class="row">{% for p in collections.individualproducts |reverse  | limit(3) %}
            <div class="col-md-4">
                <div class="card shadow-sm">
                    {% if p.data.image %}<a href="{{p.url}}"><img src="{{p.data.image}}" class="card-img-top" alt="{{p.data.title}}"></a>{% endif %}
                    <div class="card-body">
                        <h3 class="card-title">{{p.data.title}}</h3>
                        <p class="card-text">{{p.data.description}}</p>
                        <a href="{{p.url}}" class="btn btn-card text-white">{{metadata.widget.button.product}}</a>
                    </div>
                </div>
            </div>{% endfor %}
        <div class="text-center mt-4">
            <a href="{{products.individual.button.url}}" class="btn btn-order">{{products.individual.button.text}}</a>
        </div>
        </div>
        </div>
    </section>
